.card3{
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 300px;
    height: 380px;
    background-color: red;
    color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
}